# To enable WandDB, copy this file to:
# src/.env.run
# Then register on wandb and fill out the values below. ChatGPT can help you.

WANDB_API_KEY=04blablalbla26
WANDB_PROJECT=rtrader_bla_bla_bla
WANDB_ENTITY=tuhe # optional idk.
WANDB_MODE=online
